{{ define "pageHead" }}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{ end }}
{{- define "main" }}
    <h1 class="underline">{{ .Title }}</h1>
    {{ $currentPage := . }}
    <h2>Recent Posts:</h2>
    {{ range first 3 .Site.RegularPages }}
            {{ partial "menu-preview.html" . }}
    {{ end }}
    {{ with .Site.GetPage "section" "posts" }}
      <a href="{{ .RelPermalink }}">
        <button>See All {{ .Title }}</button>
      </a>
    {{ end }}
    <div>{{ .Content }}</div>
    {{ partial "seemore.html" . }}
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
{{- end }}