{{- define "main" }}
    <h1 class="underline">{{ .Title }}</h1>
    {{ $currentPage := . }}
    <div>{{ .Content }}</div>
    <h2 class="underline">Recent Posts</h2>
    {{ range first 3 .Site.RegularPages }}
            {{ partial "menu-preview.html" . }}
    {{ end }}
    {{ partial "seemore.html" . }}
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
{{- end }}