{{- define "main" }}
    Welcome to the Homepage
    {{ range .Site.Pages }}
    {{.}}
    {{ end }}
    {{ range first 5 (where .Site.Pages "Section" "posts").ByDate }}
        {{ partial "preview.html" . }}
    {{ end }}
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
{{- end }}  