:root {
  --accent-color: #0054d2;
  --background-color: lightblue;
  --secondary-color: #84caca;
  --text-highlight-color: #f0f2f4;
  --arrow-accent: #eb9619;
}

.preview {
  background-color: lightgreen;
  border-radius: 1rem;
  border: .25rem solid var(--accent-color);
  max-width: 80%;
  margin: 1rem auto;
  padding: .5rem 1rem 1rem 1rem;
}

.footer {
  display: flex;
  justify-content: center;
}

.foot-logo img {
  max-width: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.image {
  max-width: 20%;
  height: auto;
}

.flex  {
  display: flex;
}

.center  {
  align-items: center;
}

.around  {
  justify-content: space-around;
}

.mb1  {
  margin-bottom: 1rem;
}

.header {
  text-align: center;
  border-bottom: 5px solid var(--accent-color);
}

body {
    background: var(--background-color);
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.preview {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  border: .25rem solid var(--accent-color);
  max-width: 55rem;
  margin: 1rem auto;
  padding: .5rem 1rem 1rem 1rem;
}

.preview h2 {
  margin-top: 0;
}

body {
  max-width: 80%;
  margin: auto;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
}

.foot-logo {
  max-width: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.icon img {
  max-width: max(25vw, 25vh);
}

@media only screen and (min-width: 600px) {
  .icon img {
    max-width: min(25vw, 25vh);
  }
}

.image {
  max-width: 20%;
  height: auto;
}

.flex  {
  display: flex;
}

.center  {
  align-items: center;
}

.justify  {
  justify-content: center;
}

.around  {
  justify-content: space-around;
}

.mb1  {
  margin-bottom: 1rem;
}

.content img {
  max-width: 100%;
}

button {
  background-color: var(--accent-color);;
  border: none;
  color: var(--text-highlight-color);
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

button a {
  color: var(--text-highlight-color);
}

.visible {
  display: block;
}

.align-left {
  text-align: left;
}

.m4 {
  margin: 1rem;
}

.arrow {
  width: 4rem;
  stroke: var(--accent-color);
  stroke-width: 1rem;
  fill: var(--arrow-accent);
}